<header class="container-fluid navContainer">
    <nav class="container navbar navbar-expand-md justify-content-around nav">
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggler hamburguerContainer" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon hamburguer"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav menu text-center">
                <li class="nav-item">
                    <a class="nav-link link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" href="/realTimeProducts">Products</a>
                </li>
            </ul>
        </div>
    </nav>
</header>